{% set title = "Are all of the trustees based outside of the UK?" %}
{% set sectionName = "Trust details" %}
{% set next = "trustees-non-uk-answer" %}
{% set buttonname = "Save and continue" %}

{% extends "includes/_PAGE.html" %}

{% block form %}
    <form action="{{ next }}" method="POST" >
        {%- set dataItem = "trust-details--trustees-all-non-uk" -%}
        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: dataItem,
            name: dataItem,
            fieldset: {
                legend: {
                    text: title,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                }
            },
            items: [
                {
                    value: "yes",
                    text: "Yes"
                },
                {
                    value: "no",
                    text: "No"
                }
            ]
        }) }}
        {{ govukButton({ text: buttonname }) }}
    </form>
{% endblock %}
