{% set title = "Check your answers" %}
{% set sectionName = "Trust details" %}
{% set next = "../task-list" %}
{% set buttonname = "Confirm and continue" %}

{% extends "includes/_PAGE.html" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-xl">{{ title }}</h1>

            {# Check if UK or non-UK trust #}
            {% if data["trustees-uk"] and data["trustees-uk"] == "yes" %}
                {% set UKTrust = true %}
            {% elif
                (data["trustees-non-uk"] and data["trustees-non-uk"] == "no")
                and
                (data["settlors-uk"] and data["settlors-uk"] == "yes")
            %}
                {% set UKTrust = true %}
            {% endif %}

            {# Convert month number into month name #}
            {% if (data['trust-created-month'] =='01') or (data['trust-created-month'] =='1') %}
                {% set monthCreated = "January" %}
            {% elif (data['trust-created-month'] =='02') or (data['trust-created-month'] =='2') %}
                {% set monthCreated = "February" %}
            {% elif (data['trust-created-month'] =='03') or (data['trust-created-month'] =='3') %}
                {% set monthCreated = "March" %}
            {% elif (data['trust-created-month'] =='04') or (data['trust-created-month'] =='4') %}
                {% set monthCreated = "April" %}
            {% elif (data['trust-created-month'] =='05') or (data['trust-created-month'] =='5') %}
                {% set monthCreated = "May" %}
            {% elif (data['trust-created-month'] =='06') or (data['trust-created-month'] =='6') %}
                {% set monthCreated = "June" %}
            {% elif (data['trust-created-month'] =='07') or (data['trust-created-month'] =='7') %}
                {% set monthCreated = "July" %}
            {% elif (data['trust-created-month'] =='08') or (data['trust-created-month'] =='8') %}
                {% set monthCreated = "August" %}
            {% elif (data['trust-created-month'] =='09') or (data['trust-created-month'] =='9') %}
                {% set monthCreated = "September" %}
            {% elif data['trust-created-month'] =='10' %}
                {% set monthCreated = "October" %}
            {% elif data['trust-created-month'] =='11'%}
                {% set monthCreated = "November" %}
            {% elif data['trust-created-month'] =='12' %}
                {% set monthCreated = "December" %}
            {% endif %}

            {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: [
                    {
                        key: {
                            text: "What is the name of the trust?"
                        },
                        value: {
                            text: data["trust-name"]
                        },
                        actions: {
                            items: [
                                {
                                    href: "trust-name",
                                    text: "Change",
                                    visuallyHiddenText: "What is the name of the trust?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "When was the trust created?"
                        },
                        value: {
                            text: data["trust-created-day"] + " " + monthCreated + " " + data["trust-created-year"]
                        },
                        actions: {
                            items: [
                                {
                                    href: "date-trust-created",
                                    text: "Change",
                                    visuallyHiddenText: "When was the trust created?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            html: "Is the trust resident in the UK? <div style=\"font-weight: normal;\">This is based on your answers</div>"
                        },
                        value: {
                            text: 'Yes' if UKTrust else 'No'
                        },
                        actions: {
                            items: [
                                {
                                    href: "all-trustees-in-uk",
                                    text: "Change",
                                    visuallyHiddenText: "Is the trust resident in the UK?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Is the trust an express trust?"
                        },
                        value: {
                            text: data["express-trust"] | capitalize
                        },
                        actions: {
                            items: [
                                {
                                    href: "express-trust",
                                    text: "Change",
                                    visuallyHiddenText: "Is the trust an express trust?"
                                }
                            ]
                        }
                    }
                ]
            }) }}
            <form action="{{ next }}" method="POST" >
                {{ govukButton({
                    text: buttonname,
                    name: "trust-details-confimed",
                    value: "yes"
                }) }}
            </form>
        </div>
    </div>

{% endblock %}
