{% set progress = "" %}
{% set title = "When was the trust created?" %}
{% set hidetext2 = "true" %}
{% set text = "This is the date the trust deed was signed. For will trusts, use the date the settlor died. " %}
{% set hint = "For example, 31 3 2015." %}
{% set sectionName = "Trust details" %}
{% set next = "all-trustees-in-uk" %}

{% extends "includes/_PAGE.html" %}

{% set buttonname = "Save and continue" %}

{% set link = "../task-list" %}
{% set linkname = "Return to registration progress"   %}

{% block form %}
    <h1 class="govuk-fieldset__legend--xl govuk-!-margin-top-0">{{ title }}</h1>
    <p>This is the date the trust deed was signed. For will trusts, use the date the settlor died.</p>
    <form action="{{ next }}" method="POST" >
        {{ govukDateInput({
            id: "trust-created",
            namePrefix: "trust-created",
            fieldset: {
                legend: {
                    text: title,
                    classes: "govuk-visually-hidden"
                }
            },
            hint: {
                text: "For example, 31 3 2015."
            }
        }) }}
        <input class="govuk-button" type="submit" value="{{ buttonname }}" name="{{ button }}">
    </form>
{% endblock %}
