{% set progress = "" %}
{% set title = "Is the trust an express trust?" %}
{% set hidetext2 = "true" %}
{% set hidetext = "true" %}
{% set hint = "" %}
{% set sectionName = "Trust details" %}
{% set next = "check-answers" %}

{% set link = "../task-list" %}
{% set linkname = "Return to registration progress"   %}

{% extends "includes/_PAGE.html" %}

{% set buttonname = "Save and continue" %}

{% block form %}
    <h1 class="govuk-fieldset__legend--xl govuk-!-margin-top-0">{{ title }}</h1>
    <p>An express trust is a trust that has been deliberately created by the settlor. For example, if the trust was set up by a court, it is not an express trust.</p>
    <form action="{{ next }}" method="POST" >
        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "express-trust",
            name: "express-trust",
            fieldset: {
                legend: {
                    text: title,
                    classes: "govuk-visually-hidden"
                }
            },
            items: [
                {
                    value: "yes",
                    text: "Yes"
                },
                {
                    value: "no",
                    text: "No"
                }
            ]
        }) }}
        <input class="govuk-button" type="submit" value="{{ buttonname }}" name="{{ button }}">
    </form>
{% endblock %}
