{% set title = "What is this trustee’s date of birth?" %}
{% set sectionName = "Trust details" %}
{% set next = "national-insurance-number-known" %}
{% set buttonname = "Save and continue" %}

{% extends "includes/_PAGE.html" %}

{% block form %}
    <form action="{{ next }}" method="POST" >
        {%- set dataItem = "trustees--date-of-birth" -%}
        {{ govukDateInput({
            id: dataItem,
            namePrefix: dataItem,
            fieldset: {
                legend: {
                    text: title,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                }
            },
            hint: {
                text: "For example, 31 3 2015."
            }
        }) }}
        {{ govukButton({ text: buttonname }) }}
    </form>
{% endblock %}
