{% set title = "Is " + (data['trustees--trustee-name'] if data['trustees--trustee-name'] else "this") + " the lead trustee?" %}
{% set sectionName = "Trustees" %}
{% set next = "individual-or-business" %}
{% set buttonname = "Save and continue" %}

{% extends "includes/_PAGE.html" %}

{% block form %}
    <form action="{{ next }}" method="POST" >
        {%- set dataItem = "trustees--lead-trustee" -%}
        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: dataItem,
            name: dataItem,
            fieldset: {
                legend: {
                    text: title,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                }
            },
            items: [
                {
                    value: "yes",
                    text: "Yes"
                },
                {
                    value: "no",
                    text: "No"
                }
            ]
        }) }}
        {{ govukButton({ text: buttonname }) }}
    </form>
{% endblock %}
