{% set title = "What is " + (data['trustees--trustee-name'] if data['trustees--trustee-name'] else "this trustee") + "’s national insurance number?" %}
{% set sectionName = "Trustees" %}
{% set next = "address-in-uk" %}
{% set buttonname = "Save and continue" %}

{% extends "includes/_page.html" %}

{% block form %}
    <form action="{{ next }}" method="POST" >
        {%- set dataItem = "trustees--national-insurance-number" -%}
        {{ govukInput({
            label: {
                text: title,
                classes: "govuk-label--xl",
                isPageHeading: true
            },
            id: dataItem,
            name: dataItem
        }) }}
        {{ govukButton({ text: buttonname }) }}
    </form>
{% endblock %}
