{% set title = "What is this trustee’s passport or ID card’s expiry date?" %}
{% set sectionName = "Trustees" %}
{% set next = "address-in-uk" %}
{% set buttonname = "Save and continue" %}

{% extends "includes/_PAGE.html" %}

{% block form %}
    <form action="{{ next }}" method="POST" >
        {%- set dataItem = "trustees--passport-expiry" -%}
        {{ govukDateInput({
            id: dataItem,
            namePrefix: dataItem,
            fieldset: {
                legend: {
                    text: title,
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--xl"
                }
            },
            hint: {
                text: "For example, 31 3 2015."
            }
        }) }}
        {{ govukButton({ text: buttonname }) }}
    </form>
{% endblock %}
