{% set title = "Check your answers" %}
{% set sectionName = "Trustees" %}
{% set next = "../task-list" %}
{% set buttonname = "Confirm and continue" %}
{% set hideback = true %}

{% extends "includes/_PAGE.html" %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <p class="govuk-caption-xl">{{ sectionName }}</p>
            <h1 class="govuk-heading-xl">{{ title }}</h1>

            {# Set trustee’s name #}
            {% set trusteeName = (data['trustees--trustee-first-name'] + " " +data['trustees--trustee-last-name']) if data['trustees--trustee-first-name'] else "this trustee" %}

            {# Convert month number into month name #}
            {% set dataDOBMonth = data['trustees--date-of-birth-month'] %}
            {% if (dataDOBMonth =='01') or (dataDOBMonth =='1') %}
                {% set dateOfBirthMonth = "January" %}
            {% elif (dataDOBMonth =='02') or (dataDOBMonth =='2') %}
                {% set dateOfBirthMonth = "February" %}
            {% elif (dataDOBMonth =='03') or (dataDOBMonth =='3') %}
                {% set dateOfBirthMonth = "March" %}
            {% elif (dataDOBMonth =='04') or (dataDOBMonth =='4') %}
                {% set dateOfBirthMonth = "April" %}
            {% elif (dataDOBMonth =='05') or (dataDOBMonth =='5') %}
                {% set dateOfBirthMonth = "May" %}
            {% elif (dataDOBMonth =='06') or (dataDOBMonth =='6') %}
                {% set dateOfBirthMonth = "June" %}
            {% elif (dataDOBMonth =='07') or (dataDOBMonth =='7') %}
                {% set dateOfBirthMonth = "July" %}
            {% elif (dataDOBMonth =='08') or (dataDOBMonth =='8') %}
                {% set dateOfBirthMonth = "August" %}
            {% elif (dataDOBMonth =='09') or (dataDOBMonth =='9') %}
                {% set dateOfBirthMonth = "September" %}
            {% elif dataDOBMonth =='10' %}
                {% set dateOfBirthMonth = "October" %}
            {% elif dataDOBMonth =='11'%}
                {% set dateOfBirthMonth = "November" %}
            {% elif dataDOBMonth =='12' %}
                {% set dateOfBirthMonth = "December" %}
            {% endif %}

            {# Convert month number into month name #}
            {% set dataPassportMonth = data['trustees--passport-expiry-month'] %}
            {% if (dataPassportMonth =='01') or (dataPassportMonth =='1') %}
                {% set passportExpiryMonth = "January" %}
            {% elif (dataPassportMonth =='02') or (dataPassportMonth =='2') %}
                {% set passportExpiryMonth = "February" %}
            {% elif (dataPassportMonth =='03') or (dataPassportMonth =='3') %}
                {% set passportExpiryMonth = "March" %}
            {% elif (dataPassportMonth =='04') or (dataPassportMonth =='4') %}
                {% set passportExpiryMonth = "April" %}
            {% elif (dataPassportMonth =='05') or (dataPassportMonth =='5') %}
                {% set passportExpiryMonth = "May" %}
            {% elif (dataPassportMonth =='06') or (dataPassportMonth =='6') %}
                {% set passportExpiryMonth = "June" %}
            {% elif (dataPassportMonth =='07') or (dataPassportMonth =='7') %}
                {% set passportExpiryMonth = "July" %}
            {% elif (dataPassportMonth =='08') or (dataPassportMonth =='8') %}
                {% set passportExpiryMonth = "August" %}
            {% elif (dataPassportMonth =='09') or (dataPassportMonth =='9') %}
                {% set passportExpiryMonth = "September" %}
            {% elif dataPassportMonth =='10' %}
                {% set passportExpiryMonth = "October" %}
            {% elif dataPassportMonth =='11'%}
                {% set passportExpiryMonth = "November" %}
            {% elif dataPassportMonth =='12' %}
                {% set passportExpiryMonth = "December" %}
            {% endif %}

            {{ govukSummaryList({
                classes: 'govuk-!-margin-bottom-9',
                rows: [
                    {
                        key: {
                            text: "Is this the lead trustee?"
                        },
                        value: {
                            text: data["trustees--lead-trustee"] | capitalize
                        },
                        actions: {
                            items: [
                                {
                                    href: "lead-trustee",
                                    text: "Change",
                                    visuallyHiddenText: "Is this the lead trustee?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Is this trustee an individual or a business?"
                        },
                        value: {
                            text: data["trustees--individual-or-business"] | capitalize
                        },
                        actions: {
                            items: [
                                {
                                    href: "individual-or-business",
                                    text: "Change",
                                    visuallyHiddenText: "Is this trustee an individual or a business?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "What is this trustee’s name?"
                        },
                        value: {
                            text: data['trustees--trustee-first-name'] + " " + data['trustees--trustee-middle-name'] + " " + data['trustees--trustee-last-name']
                        },
                        actions: {
                            items: [
                                {
                                    href: "trustee-name",
                                    text: "Change",
                                    visuallyHiddenText: "What is this trustee’s name?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Do you know " + trusteeName + "’s date of birth?"
                        },
                        value: {
                            text: data["trustees--date-of-birth-known"] | capitalize
                        },
                        actions: {
                            items: [
                                {
                                    href: "date-of-birth-known",
                                    text: "Change",
                                    visuallyHiddenText: "Do you know " + trusteeName + "’s date of birth?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "What is " + trusteeName + "’s date of birth?"
                        },
                        value: {
                            text: data["trustees--date-of-birth-day"] + " " + dateOfBirthMonth + " " + data["trustees--date-of-birth-year"]
                        },
                        actions: {
                            items: [
                                {
                                    href: "date-of-birth",
                                    text: "Change",
                                    visuallyHiddenText: "What is " + trusteeName + "’s date of birth?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Does " + trusteeName + " have a National Insurance number?"
                        },
                        value: {
                            text: data["trustees--has-nino"] | capitalize
                        },
                        actions: {
                            items: [
                                {
                                    href: "has-national-insurance-number",
                                    text: "Change",
                                    visuallyHiddenText: "Does " + trusteeName + " have a National Insurance number?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "What is " + trusteeName + "’s National Insurance number?"
                        },
                        value: {
                            text: data["trustees--national-insurance-number"]
                        },
                        actions: {
                            items: [
                                {
                                    href: "national-insurance-number",
                                    text: "Change",
                                    visuallyHiddenText: "What is " + trusteeName + "’s National Insurance number?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "What is " + trusteeName + "’s passport or national identity card number?"
                        },
                        value: {
                            text: data["trustees--passport-number"]
                        },
                        actions: {
                            items: [
                                {
                                    href: "passport-number",
                                    text: "Change",
                                    visuallyHiddenText: "What is " + trusteeName + "’s passport or national identity card number?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "When does " + trusteeName + "’s passport or national identity card expire?"
                        },
                        value: {
                            text: data["trustees--passport-expiry-day"] + " " + passportExpiryMonth + " " + data["trustees--passport-expiry-year"]
                        },
                        actions: {
                            items: [
                                {
                                    href: "passport-expiry",
                                    text: "Change",
                                    visuallyHiddenText: "When does " + trusteeName + "’s passport or national identity card expire?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Where was " + trusteeName + "’s passport or national identity card issued?"
                        },
                        value: {
                            text: data["trustees--passport-country"]
                        },
                        actions: {
                            items: [
                                {
                                    href: "passport-country",
                                    text: "Change",
                                    visuallyHiddenText: "Where was " + trusteeName + "’s passport or national identity card issued?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Is " + trusteeName + "’s address in the UK?"
                        },
                        value: {
                            text: data["trustees--address-in-uk"] | capitalize
                        },
                        actions: {
                            items: [
                                {
                                    href: "address-in-uk",
                                    text: "Change",
                                    visuallyHiddenText: "Is " + trusteeName + "’s address in the UK?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "What is " + trusteeName + "’s address?"
                        },
                        value: {
                            text: data["trustees--address-uk-line-1"] + ", " + data["trustees--address-uk-line-2"] + ", " + data["trustees--address-uk-line-3"] + ", " + data["trustees--address-uk-line-4"] + ", " + data["trustees--postcode"]
                        },
                        actions: {
                            items: [
                                {
                                    href: "address-uk",
                                    text: "Change",
                                    visuallyHiddenText: "What is " + trusteeName + "’s address?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "What is " + trusteeName + "’s address?"
                        },
                        value: {
                            text: data["trustees--address-non-uk-line-1"] + ", " + data["trustees--address-non-uk-line-2"] + ", " + data["trustees--address-non-uk-line-3"] + ", " + data["trustees--address-non-uk-line-4"] + ", " + data["trustees--address-country"]
                        },
                        actions: {
                            items: [
                                {
                                    href: "address-non-uk",
                                    text: "Change",
                                    visuallyHiddenText: "What is " + trusteeName + "’s address?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Do you know " + trusteeName + "’s nationality?"
                        },
                        value: {
                            text: data["trustees--nationality-known"] | capitalize
                        },
                        actions: {
                            items: [
                                {
                                    href: "nationality-known",
                                    text: "Change",
                                    visuallyHiddenText: "Do you know " + trusteeName + "’s nationality?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Is " + trusteeName + "’s country of nationality the UK?"
                        },
                        value: {
                            text: data["trustees--nationality-uk"] | capitalize
                        },
                        actions: {
                            items: [
                                {
                                    href: "country-of-nationality-uk",
                                    text: "Change",
                                    visuallyHiddenText: "Is " + trusteeName + "’s country of nationality the UK?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "What is " + trusteeName + "’s country of nationality?"
                        },
                        value: {
                            text: data["trustees--nationality"]
                        },
                        actions: {
                            items: [
                                {
                                    href: "country-of-nationality",
                                    text: "Change",
                                    visuallyHiddenText: "What is " + trusteeName + "’s country of nationality?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Do you know which country " + trusteeName + " lives in?"
                        },
                        value: {
                            text: data["trustees--residence-known"] | capitalize
                        },
                        actions: {
                            items: [
                                {
                                    href: "country-of-residence-known",
                                    text: "Change",
                                    visuallyHiddenText: "Do you know which country " + trusteeName + " lives in?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Does " + trusteeName + " live in the UK?"
                        },
                        value: {
                            text: data["trustees--residence-uk"] | capitalize
                        },
                        actions: {
                            items: [
                                {
                                    href: "country-of-residence-uk",
                                    text: "Change",
                                    visuallyHiddenText: "Does " + trusteeName + " live in the UK?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "Which country does " + trusteeName + " live in?"
                        },
                        value: {
                            text: data["trustees--residence"]
                        },
                        actions: {
                            items: [
                                {
                                    href: "country-of-residence",
                                    text: "Change",
                                    visuallyHiddenText: "Which country does " + trusteeName + " live in?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "What is " + trusteeName + "’s email address?"
                        },
                        value: {
                            text: data["trustees--email"]
                        },
                        actions: {
                            items: [
                                {
                                    href: "email",
                                    text: "Change",
                                    visuallyHiddenText: "What is " + trusteeName + "’s email address?"
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: "What is " + trusteeName + "’s phone number?"
                        },
                        value: {
                            text: data["trustees--telephone"]
                        },
                        actions: {
                            items: [
                                {
                                    href: "telephone",
                                    text: "Change",
                                    visuallyHiddenText: "What is " + trusteeName + "’s phone number?"
                                }
                            ]
                        }
                    }
                ]
            }) }}
            <form action="{{ next }}" method="POST" >
                {{ govukButton({
                    text: buttonname,
                    name: "trustees-confirmed",
                    value: "yes"
                }) }}
            </form>
        </div>
    </div>

{% endblock %}
