{% set title = "Which country does " + ((data['trustees--trustee-first-name'] + " " +data['trustees--trustee-last-name']) if data['trustees--trustee-first-name'] else "this trustee") + " live in?" %}
{% set sectionName = "Trustees" %}
{% set next = "check-answers" %}
{% set buttonname = "Save and continue" %}

{% extends "includes/_page.html" %}

{% block form %}
    <form action="{{ next }}" method="POST" >
        {%- set dataItem = "trustees--residence" -%}
        {{ govukInput({
            label: {
                text: title,
                classes: "govuk-label--xl",
                isPageHeading: true
            },
            id: dataItem,
            name: dataItem
        }) }}
        {{ govukButton({ text: buttonname }) }}
    </form>
{% endblock %}
