{% set title = "What is " + ((data['trustees--trustee-first-name'] + " " +data['trustees--trustee-last-name']) if data['trustees--trustee-first-name'] else "this trustee") + "’s country of nationality?" %}
{% set sectionName = "Trustees" %}
{% set next = "country-of-nationality--redirect" %}
{% set buttonname = "Save and continue" %}

{% extends "includes/_PAGE.html" %}

{% block form %}
    <form action="{{ next }}" method="POST" >
        {%- set dataItem = "trustees--nationality" -%}
        {{ govukInput({
            label: {
                text: title,
                classes: "govuk-label--xl",
                isPageHeading: true
            },
            id: dataItem,
            name: dataItem
        }) }}
        {{ govukButton({ text: buttonname }) }}
    </form>
{% endblock %}
